
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:200,400,500" rel="stylesheet"> 
  	    <link rel="stylesheet" href="styles.css" />
        <title>{{title}}</title>
    </head>
    <body>
        {{> navbar}}
        <div class="container">
        <div class="jumbotron">
            <p>This config is running {{title}} with support for Handlebars as a View Engine.</p>
            <p>Additionally this page has Bootstrap Support.</p>
        </div>
         <ul class="list-group">
              <li class="list-group-item list-group-item-action active">Todo:</li>
              <li class="list-group-item list-group-item-success">Make a Test Query Using Existing Table (Product)</li>
              <li class="list-group-item">Implement Homepage (David)</li>
              <li class="list-group-item">Implement Catalog View (Angel)</li>
              <li class="list-group-item list-group-item-warning">Implement Form to Submit Products to Database(Thomas) *Input Validation Needed*</li>
              <li class="list-group-item list-group-item-success">Template using Handlebars for repeated content (Navbar)</li>
              <li class="list-group-item list-group-item-success">Implement HTTP Error Page</li>
              <li class="list-group-item list-group-item-success">Added CSS Styling (/views/css)</li>
              <li class="list-group-item list-group-item-success">Added /views/scripts for View JS</li>
              <li class="list-group-item">Fix Bug (Not causing 404 when suburl has a / Ex: 127.0.0.1:8000/views vs 127.0.0.1:8000/views/</li>
        </ul>
        <div class="mt-2 col-md-12">
        </div>
        <h4>Sample Database GET (All Item Names from "Products" Table):</h4>
        <p>{{#name}}{{name}},{{/name}}</p>
      </div>
    </body>
</html>


